# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.DS_Store
*.DS_Store
src/.DS_Store
src/assets/.DS_Store
src/assets/icons/.DS_Store
src/assets/img/.DS_Store
src/assets/spreadsheets/.DS_Store
src/css/.DS_Store
src/dist/.DS_Store
node_modules
src/node_modules/
