/* ---------------------
Gobal styles
----------------------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 1.4;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, sans-serif;

}

/* ---------------------
Paragraphs
----------------------*/

p {
  margin: 0 0 2em;
  line-height: 1.5;
}

/* ---------------------
Headings
----------------------*/

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, sans-serif;
}

h1 {
  margin: 0;
  font-size: 3em;
}

h2 {
  font-weight: 400;
  margin: 2em 0 1em;
  color: #147580;
  font-size: 1.6em;
}

h3 {
  font-weight: 700;
  margin: 1em 0 .5em;
  font-size: 1.1em;
}

h4 {
  margin: 0 0 0.5em;
  font-size: 1em;
}

hr {
  border: 0;
  height: 1px;
  background: #fff;
}

/* ---------------------
Lists
----------------------*/

ul,
ol {
  margin-top: .5em;
  margin-bottom: 2em;
  padding-left: 20px;
}

li {
  margin: 0 0 .3em;
}

/* ---------------------
Links
----------------------*/

a:link {
  color: #0A7399;
  background: transparent;
}

a:visited {
  color: #086D91;
  background: transparent;
}

a:hover {
  color: #007700;
  background: transparent;
}

a:focus {
  color: #fff;
  background: #000;
}

a:active {
  color: #AA0000;
  background: transparent;
}

/* ---------------------
code
----------------------*/

code {
  font-size: 1em;
  color: green;
  font-family: monaco, courier, monospace;
}

/* ---------------------
Tables
----------------------*/

table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
  background: #fff;
}

caption {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0.5em;
  font-size: 1.1em;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: .7em;
  border: 1px solid #aaa;
  width: 20%;
}

thead th {
  background: #eee;
}

.width20 {  
  width: 20%;
}

.width25 {  
  width: 25%;
}

.th-small {
  display: block;
  margin: .3em 0 0;
  font-weight: normal;
  font-size: .8em;
  color: #333;
}

/* ---------------------
header
----------------------*/

header {
  margin: 0 0 3em;
  padding: 4em 0;
  background: #d3420d;
  color: #fff;
}

header h1 {
  color: #fff;
}

.header-biline {
  margin: .3em 0 0;
  font-size: 1.4em;
}

.content {
  margin: 0 auto;
  max-width: 35em;
}

.content-wide {
  margin: 0 auto;
  max-width: 60em;
}

.green-tint {
  background: rgba(0,180,0,.1);
}

.orange-tint {
  background: rgba(211,66,13,.1);
}

.tick {
  display: inline-block;
  margin: 0 .3em 0 0;
  color: #999;
}

.footnotes {
  margin: 2em 0 3em;
  padding: 0;
  list-style: none;
  font-size: .9em;
}

.margin-bottom-half {
  margin-bottom: .8em;
}

.pagination-heading {
  font-size: 1.2em;
  margin: 0 0 .5em;
  color: #000;
}

.pagination-list {
  margin: 1em 0 2.5em;
  padding: 0;
  list-style: none;
}

.intro {
  font-size: 1.1em;
}

.list-no-bullets {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none;
}

.trainer {
  clear: both;
}

.trainer-image {
  float: left;
  width: 140px;
  height: 140px;
  margin: 0 1em 1em 0;
  border-radius: 140px;
}

.trainer-content {
  overflow: hidden;
}

.trainer-heading {
  margin: 0 0 .5em;
}

.small {
  font-size: .9em;
}

.smaller {
  font-size: .8em;
}

/* ---------------------
button
----------------------*/

.button,
button {
  display: inline-block;
  padding: 0.75em 1em;
  border: 0;
  background: blue;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0.2em;
  font-size: 1em;
  line-height: 1;
  font-family: helvetica, arial, sans-serif;
}

.button:focus,
button:focus {
  background: #000;
  color: #fff;
  outline: none;
}

.button:hover,
button:hover {
  background: green;
  color: #fff;
}

.button:active,
button:active {
  background: red;
  color: #fff;
}

/* ---------------------
Hidden
----------------------*/

.sr-only,
.hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}





.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 21px;
  line-height: 1.5;
  border-radius: 4px;
}

.btn {
  padding: 0.625rem 1.25rem;
  border-radius: 15em;
  border-width: 2px;
  font-weight: 600;
  white-space: normal;
  outline: none;
}

.btn.brand {
  background: #d3420d;
  color: #fff;
}

